.liClass {
  font-weight: 700;
}

.bigbox{
  width: 500px;
  border: 1px solid #ccc;
  text-align: center;
  padding: 15px;
}
.user {
  width: 200px;
}
.content{
  width: 200px;
  min-height: 100px;
}